@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

$mainColor: #e8e8e8;
$textColor: #0e0c0c;
$color: #d22e22;
$font1: "Inter tight", sans-serif;
$font2: "Nunito sans", sans-serif;
$headerHeight: 60px;
$restHeight: calc(100vh - $headerHeight);
$sideWidth: 250px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: $font2;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: $textColor;
    opacity: 0.7;
  }

  &::-webkit-scrollbar-thumb {
    background: $color;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.btn {
  padding: 7px 15px;
  border: none;
  font-weight: 600;
  font-family: $font1;
  border-radius: 20px;
  border: 1px solid $color;
  cursor: pointer;
  &.default-btn {
    background-color: $color;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s;
    color: $mainColor;
    &:hover {
      box-shadow: none;
    }
  }
  &.outline-btn {
    background-color: transparent;
    color: $color;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s;
    &:hover {
      box-shadow: none;
    }
  }
  &.secondary-btn {
    background-color: #fff;
    color: $color;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s;
    border: 1px solid #fff;
    &:hover {
      box-shadow: none;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

nav {
  display: flex;
  height: $headerHeight;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;

  .left {
    width: $sideWidth;
    padding: 0 30px;
    .logo {
      font-size: 2.1rem;
      font-family: $font1;
      font-weight: 700;
      color: $color;
    }
  }

  .right {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;

    .search-box {
      border: 1px solid $textColor;
      position: relative;
      padding: 4px 8px;
      font-size: 1rem;
      width: 250px;
      input {
        background-color: transparent;
        border: none;
        outline: none;
        padding-right: 18px;
      }
      i {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .icons-section {
      display: flex;
      gap: 25px;
      align-items: center;
      .notifications {
        position: relative;
        > i {
          font-size: 1.1rem;
          cursor: pointer;
          color: $color;
        }
        .all-notifications {
          position: absolute;
          right: 0;
          top: 30px;
          min-width: 250px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          overflow: hidden;
          gap: 20px;
          background-color: #fff;
          border: 1px solid #ccc;
          display: none;
          height: 300px;
          h4 {
            font-size: 1.4rem;
            color: $color;
            text-align: center;
          }
          .single-notification {
            display: flex;
            gap: 10px;
            align-items: center;
            padding: 0 10px;

            &:hover {
              color: $color;
            }
          }
          .view-all {
            background-color: $color;
            padding: 5px 0;
            text-align: center;
            color: #fff;
          }
          &.open {
            display: flex;
          }
        }
      }
      .logout {
        > i {
          font-size: 1.1rem;
          cursor: pointer;
          color: $color;
        }
      }
      .loggedin-user {
        border: 1px solid $color;
        padding: 4px 6px;
        color: $color;
        transition: background-color 0.3s linear, color 0.3s linear;
        cursor: cell;

        &:hover {
          background-color: $color;
          color: #fff;
        }
      }
    }
  }
}

.main {
  display: flex;
  min-height: $restHeight;
  align-items: flex-start;

  .sidebar {
    width: $sideWidth;
    padding: 20px 30px;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: $headerHeight;
    .menus {
      h3 {
        font-size: 1.1rem;
        font-weight: 700;
        font-family: $font1;
        color: $color;
        text-transform: uppercase;
        &:not(:first-child) {
          margin-top: 25px;
        }
      }

      a {
        display: flex;
        gap: 12px;
        margin: 22px 0;
        font-size: 1rem;

        &:hover {
          color: $color;
        }
      }
    }
    .btn {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .content {
    padding: 0 60px;
    flex: 1;
    min-height: 200vh;
  }
}
